body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
  }

  header {
    background-color: #F1F1F1;
    text-align: center;
  }

  h1 {
    color: #333;
    margin: 0;
  }
  
  header, section, footer {
    padding: 20PX;
  }
  
  section {
    background-color: #F9F9F9;
  }
  
  /* estilo para el nav */
  nav {
    background-color: #333;
    padding: 10px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20PX;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px;
  }
  
  /* estilo pizza 1 y 2 */
  .pizza {
    display: inline-block;
    text-align: center;
    width: 300PX;
    margin: 10PX;
  }
  
  .pizza img {
    width: 200PX;
    height: 200PX;
    object-fit: cover;
  }
  
  /* estilo para el formulario */
  form {
    display: grid;
    gap: 10PX;
  }
  
  form label {
    display: block;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10PX;
    font-size: 16PX;
  }
  
  button {
    padding: 10PX 20PX;
    font-size: 16PX;
    background-color: #333;
    color: #FFF;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* estilo para el footer */
  footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    font-size: 14PX;
    margin-TOP: 20PX;
    padding: 10PX;
  }
  